<!-- jquery latest version -->
<script src="{{ url_for('static', filename='js/vendor/jquery-1.12.0.min.js')}}"></script>
<!-- Bootstrap framework js -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<!--counter up js-->
<script src="{{ url_for('static', filename='js/waypoints.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js')}}"></script>
<!-- Video player js -->
<script src="{{ url_for('static', filename='js/video-player.js')}}"></script>
<!-- headlines js -->
<script src="{{ url_for('static', filename='js/animated-headlines.js')}}"></script>
<!-- Ajax mail js -->
<script src="{{ url_for('static', filename='js/mailchimp.js')}}"></script>
<!-- Ajax mail js -->
<script src="{{ url_for('static', filename='js/ajax-mail.js')}}"></script>
<!-- parallax js -->
<script src="{{ url_for('static', filename='js/parallax.js')}}"></script>
<!-- textilate js -->
<script src="{{ url_for('static', filename='js/textilate.js')}}"></script>
<script src="{{ url_for('static', filename='js/lettering.j')}}s"></script>
<!--isotope js-->
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/packery-mode.pkgd.min.js')}}"></script>
<!-- Style Customizer Js  -->
<script src="{{ url_for('static', filename='js/style-customizer.js')}}"></script>
<!-- Owl carousel Js -->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<!--Magnificant js-->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.js')}}"></script>
<!-- All js plugins included in this file. -->
<script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<script src="{{ url_for('static', filename='js/booking.js')}}"></script>

